.div{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row ;
    align-items: center;
    margin-right: 5%;
}


/* styles.css */
.moviecontainer{
    margin-bottom: 20px; /* Add margin at the bottom to create spacing */
  }
  
  /* Optional: Add margin to the top of the first movie container to avoid spacing at the top */
  .moviecontainer:first-child {
    margin-top: 20px;
  }
  
  /* Rest of the styles */
  .movielink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  
  .movieposter {
    width: 210px;
    height: 240px;
  }
  
  .movietitle {
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  
  
  